.wi-wapi-day-1000:before {
  content: "\f00d";
}

.wi-wapi-day-1003:before {
  content: "\f002";
}

.wi-wapi-day-1006:before {
  content: "\f07d";
}

.wi-wapi-day-1009:before {
  content: "\f00c";
}

.wi-wapi-day-1030:before {
  content: "\f0b6";
}

.wi-wapi-day-1063:before {
  content: "\f008";
}

.wi-wapi-day-1066:before {
  content: "\f00a";
}

.wi-wapi-day-1069:before {
  content: "\f0b2";
}

.wi-wapi-day-1072:before {
  content: "\f006";
}

.wi-wapi-day-1087:before {
  content: "\f005";
}

.wi-wapi-day-1114:before {
  content: "\f00a";
}

.wi-wapi-day-1117:before {
  content: "\f00a";
}

.wi-wapi-day-1135:before {
  content: "\f003";
}

.wi-wapi-day-1147:before {
  content: "\f003";
}

.wi-wapi-day-1150:before {
  content: "\f008";
}

.wi-wapi-day-1153:before {
  content: "\f00b";
}

.wi-wapi-day-1168:before {
  content: "\f00b";
}

.wi-wapi-day-1171:before {
  content: "\f00b";
}

.wi-wapi-day-1180:before {
  content: "\f008";
}

.wi-wapi-day-1183:before {
  content: "\f008";
}

.wi-wapi-day-1186:before {
  content: "\f008";
}

.wi-wapi-day-1189:before {
  content: "\f008";
}

.wi-wapi-day-1192:before {
  content: "\f008";
}

.wi-wapi-day-1195:before {
  content: "\f008";
}

.wi-wapi-day-1198:before {
  content: "\f008";
}

.wi-wapi-day-1201:before {
  content: "\f008";
}

.wi-wapi-day-1204:before {
  content: "\f0b2";
}

.wi-wapi-day-1207:before {
  content: "\f0b2";
}

.wi-wapi-day-1210:before {
  content: "\f00a";
}

.wi-wapi-day-1213:before {
  content: "\f00a";
}

.wi-wapi-day-1216:before {
  content: "\f00a";
}

.wi-wapi-day-1219:before {
  content: "\f00a";
}

.wi-wapi-day-1222:before {
  content: "\f00a";
}

.wi-wapi-day-1225:before {
  content: "\f00a";
}

.wi-wapi-day-1237:before {
  content: "\f009";
}

.wi-wapi-day-1240:before {
  content: "\f009";
}

.wi-wapi-day-1243:before {
  content: "\f009";
}

.wi-wapi-day-1246:before {
  content: "\f009";
}

.wi-wapi-day-1249:before {
  content: "\f0b2";
}

.wi-wapi-day-1252:before {
  content: "\f0b2";
}

.wi-wapi-day-1255:before {
  content: "\f00a";
}

.wi-wapi-day-1258:before {
  content: "\f00a";
}

.wi-wapi-day-1261:before {
  content: "\f009";
}

.wi-wapi-day-1264:before {
  content: "\f009";
}

.wi-wapi-day-1273:before {
  content: "\f010";
}

.wi-wapi-day-1276:before {
  content: "\f010";
}

.wi-wapi-day-1279:before {
  content: "\f06b";
}

.wi-wapi-day-1282:before {
  content: "\f06b";
}

.wi-wapi-1000:before {
  content: "\f041";
}

.wi-wapi-1003:before {
  content: "\f013";
}

.wi-wapi-1006:before {
  content: "\f013";
}

.wi-wapi-1009:before {
  content: "\f013";
}

.wi-wapi-1030:before {
  content: "\f021";
}

.wi-wapi-1063:before {
  content: "\f019";
}

.wi-wapi-1066:before {
  content: "\f01b";
}

.wi-wapi-1069:before {
  content: "\f0b5";
}

.wi-wapi-1072:before {
  content: "\f017";
}

.wi-wapi-1087:before {
  content: "\f016";
}

.wi-wapi-1114:before {
  content: "\f01b";
}

.wi-wapi-1117:before {
  content: "\f01b";
}

.wi-wapi-1135:before {
  content: "\f014";
}

.wi-wapi-1147:before {
  content: "\f014";
}

.wi-wapi-1150:before {
  content: "\f019";
}

.wi-wapi-1153:before {
  content: "\f01c";
}

.wi-wapi-1168:before {
  content: "\f01c";
}

.wi-wapi-1171:before {
  content: "\f01c";
}

.wi-wapi-1180:before {
  content: "\f019";
}

.wi-wapi-1183:before {
  content: "\f019";
}

.wi-wapi-1186:before {
  content: "\f019";
}

.wi-wapi-1189:before {
  content: "\f019";
}

.wi-wapi-1192:before {
  content: "\f019";
}

.wi-wapi-1195:before {
  content: "\f019";
}

.wi-wapi-1198:before {
  content: "\f019";
}

.wi-wapi-1201:before {
  content: "\f019";
}

.wi-wapi-1204:before {
  content: "\f0b5";
}

.wi-wapi-1207:before {
  content: "\f0b5";
}

.wi-wapi-1210:before {
  content: "\f01b";
}

.wi-wapi-1213:before {
  content: "\f01b";
}

.wi-wapi-1216:before {
  content: "\f01b";
}

.wi-wapi-1219:before {
  content: "\f01b";
}

.wi-wapi-1222:before {
  content: "\f01b";
}

.wi-wapi-1225:before {
  content: "\f01b";
}

.wi-wapi-1237:before {
  content: "\f01a";
}

.wi-wapi-1240:before {
  content: "\f01a";
}

.wi-wapi-1243:before {
  content: "\f01a";
}

.wi-wapi-1246:before {
  content: "\f01a";
}

.wi-wapi-1249:before {
  content: "\f0b5";
}

.wi-wapi-1252:before {
  content: "\f0b5";
}

.wi-wapi-1255:before {
  content: "\f01b";
}

.wi-wapi-1258:before {
  content: "\f01b";
}

.wi-wapi-1261:before {
  content: "\f01a";
}

.wi-wapi-1264:before {
  content: "\f01a";
}

.wi-wapi-1273:before {
  content: "\f01e";
}

.wi-wapi-1276:before {
  content: "\f01e";
}

.wi-wapi-1279:before {
  content: "\f01d";
}

.wi-wapi-1282:before {
  content: "\f01d";
}

.wi-wapi-night-1000:before {
  content: "\f02e";
}

.wi-wapi-night-1003:before {
  content: "\f081";
}

.wi-wapi-night-1006:before {
  content: "\f086";
}

.wi-wapi-night-1009:before {
  content: "\f086";
}

.wi-wapi-night-1030:before {
  content: "\f04a";
}

.wi-wapi-night-1063:before {
  content: "\f026";
}

.wi-wapi-night-1066:before {
  content: "\f02a";
}

.wi-wapi-night-1069:before {
  content: "\f0b4";
}

.wi-wapi-night-1072:before {
  content: "\f026";
}

.wi-wapi-night-1087:before {
  content: "\f025";
}

.wi-wapi-night-1114:before {
  content: "\f02a";
}

.wi-wapi-night-1117:before {
  content: "\f02a";
}

.wi-wapi-night-1135:before {
  content: "\f04a";
}

.wi-wapi-night-1147:before {
  content: "\f04a";
}

.wi-wapi-night-1150:before {
  content: "\f028";
}

.wi-wapi-night-1153:before {
  content: "\f02b";
}

.wi-wapi-night-1168:before {
  content: "\f02b";
}

.wi-wapi-night-1171:before {
  content: "\f02b";
}

.wi-wapi-night-1180:before {
  content: "\f028";
}

.wi-wapi-night-1183:before {
  content: "\f028";
}

.wi-wapi-night-1186:before {
  content: "\f028";
}

.wi-wapi-night-1189:before {
  content: "\f028";
}

.wi-wapi-night-1192:before {
  content: "\f028";
}

.wi-wapi-night-1195:before {
  content: "\f028";
}

.wi-wapi-night-1198:before {
  content: "\f028";
}

.wi-wapi-night-1201:before {
  content: "\f028";
}

.wi-wapi-night-1204:before {
  content: "\f0b4";
}

.wi-wapi-night-1207:before {
  content: "\f0b4";
}

.wi-wapi-night-1210:before {
  content: "\f02a";
}

.wi-wapi-night-1213:before {
  content: "\f02a";
}

.wi-wapi-night-1216:before {
  content: "\f02a";
}

.wi-wapi-night-1219:before {
  content: "\f02a";
}

.wi-wapi-night-1222:before {
  content: "\f02a";
}

.wi-wapi-night-1225:before {
  content: "\f02a";
}

.wi-wapi-night-1237:before {
  content: "\f037";
}

.wi-wapi-night-1240:before {
  content: "\f037";
}

.wi-wapi-night-1243:before {
  content: "\f037";
}

.wi-wapi-night-1246:before {
  content: "\f037";
}

.wi-wapi-night-1249:before {
  content: "\f0b4";
}

.wi-wapi-night-1252:before {
  content: "\f0b4";
}

.wi-wapi-night-1255:before {
  content: "\f02a";
}

.wi-wapi-night-1258:before {
  content: "\f02a";
}

.wi-wapi-night-1261:before {
  content: "\f029";
}

.wi-wapi-night-1264:before {
  content: "\f029";
}

.wi-wapi-night-1273:before {
  content: "\f02d";
}

.wi-wapi-night-1276:before {
  content: "\f02d";
}

.wi-wapi-night-1279:before {
  content: "\f06d";
}

.wi-wapi-night-1282:before {
  content: "\f06d";
}

/*# sourceMappingURL=wi-weatherapi.css.map */
