@import "../weather-icons-core.scss";
@import "../icon-variables/variables-neutral.scss";
@import "../icon-variables/variables-day.scss";
@import "../icon-variables/variables-night.scss";

//Day
.#{$wi-css-prefix}-wapi-day-1000:before                            { content: $day-sunny              ; }
.#{$wi-css-prefix}-wapi-day-1003:before                            { content: $day-cloudy            ; }
.#{$wi-css-prefix}-wapi-day-1006:before                            { content: $day-cloudy-high          ; }
.#{$wi-css-prefix}-wapi-day-1009:before                            { content: $day-sunny-overcast        ; }
.#{$wi-css-prefix}-wapi-day-1030:before                            { content: $day-haze       ; }
.#{$wi-css-prefix}-wapi-day-1063:before                            { content: $day-rain       ; }
.#{$wi-css-prefix}-wapi-day-1066:before                            { content: $day-snow      ; }
.#{$wi-css-prefix}-wapi-day-1069:before                            { content: $day-sleet      ; }
.#{$wi-css-prefix}-wapi-day-1072:before                            { content: $day-rain-mix      ; }
.#{$wi-css-prefix}-wapi-day-1087:before                            { content: $day-lightning      ; }
.#{$wi-css-prefix}-wapi-day-1114:before                            { content: $day-snow      ; }
.#{$wi-css-prefix}-wapi-day-1117:before                            { content: $day-snow      ; }
.#{$wi-css-prefix}-wapi-day-1135:before                            { content: $day-fog      ; }
.#{$wi-css-prefix}-wapi-day-1147:before                            { content: $day-fog      ; }
.#{$wi-css-prefix}-wapi-day-1150:before                            { content: $day-rain      ; }
.#{$wi-css-prefix}-wapi-day-1153:before                            { content: $day-sprinkle      ; }
.#{$wi-css-prefix}-wapi-day-1168:before                            { content: $day-sprinkle    ; }
.#{$wi-css-prefix}-wapi-day-1171:before                            { content: $day-sprinkle     ; }
.#{$wi-css-prefix}-wapi-day-1180:before                            { content: $day-rain     ; }
.#{$wi-css-prefix}-wapi-day-1183:before                            { content: $day-rain     ; }
.#{$wi-css-prefix}-wapi-day-1186:before                            { content: $day-rain     ; }
.#{$wi-css-prefix}-wapi-day-1189:before                            { content: $day-rain     ; }
.#{$wi-css-prefix}-wapi-day-1192:before                            { content: $day-rain     ; }
.#{$wi-css-prefix}-wapi-day-1195:before                            { content: $day-rain     ; }
.#{$wi-css-prefix}-wapi-day-1198:before                            { content: $day-rain     ; }
.#{$wi-css-prefix}-wapi-day-1201:before                            { content: $day-rain     ; }
.#{$wi-css-prefix}-wapi-day-1204:before                            { content: $day-sleet     ; }
.#{$wi-css-prefix}-wapi-day-1207:before                            { content: $day-sleet     ; }
.#{$wi-css-prefix}-wapi-day-1210:before                            { content: $day-snow     ; }
.#{$wi-css-prefix}-wapi-day-1213:before                            { content: $day-snow     ; }
.#{$wi-css-prefix}-wapi-day-1216:before                            { content: $day-snow     ; }
.#{$wi-css-prefix}-wapi-day-1219:before                            { content: $day-snow     ; }
.#{$wi-css-prefix}-wapi-day-1222:before                            { content: $day-snow     ; }
.#{$wi-css-prefix}-wapi-day-1225:before                            { content: $day-snow     ; }
.#{$wi-css-prefix}-wapi-day-1237:before                            { content: $day-showers     ; }
.#{$wi-css-prefix}-wapi-day-1240:before                            { content: $day-showers     ; }
.#{$wi-css-prefix}-wapi-day-1243:before                            { content: $day-showers     ; }
.#{$wi-css-prefix}-wapi-day-1246:before                            { content: $day-showers     ; }
.#{$wi-css-prefix}-wapi-day-1249:before                            { content: $day-sleet     ; }
.#{$wi-css-prefix}-wapi-day-1252:before                            { content: $day-sleet     ; }
.#{$wi-css-prefix}-wapi-day-1255:before                            { content: $day-snow     ; }
.#{$wi-css-prefix}-wapi-day-1258:before                            { content: $day-snow     ; }
.#{$wi-css-prefix}-wapi-day-1261:before                            { content: $day-showers     ; }
.#{$wi-css-prefix}-wapi-day-1264:before                            { content: $day-showers     ; }
.#{$wi-css-prefix}-wapi-day-1273:before                            { content: $day-thunderstorm     ; }
.#{$wi-css-prefix}-wapi-day-1276:before                            { content: $day-thunderstorm     ; }
.#{$wi-css-prefix}-wapi-day-1279:before                            { content: $day-snow-thunderstorm     ; }
.#{$wi-css-prefix}-wapi-day-1282:before                            { content: $day-snow-thunderstorm     ; }

//Neutral
.#{$wi-css-prefix}-wapi-1000:before                            { content: $cloud              ; }
.#{$wi-css-prefix}-wapi-1003:before                            { content: $cloudy            ; }
.#{$wi-css-prefix}-wapi-1006:before                            { content: $cloudy          ; }
.#{$wi-css-prefix}-wapi-1009:before                            { content: $cloudy        ; }
.#{$wi-css-prefix}-wapi-1030:before                            { content: $windy       ; }
.#{$wi-css-prefix}-wapi-1063:before                            { content: $rain       ; }
.#{$wi-css-prefix}-wapi-1066:before                            { content: $snow      ; }
.#{$wi-css-prefix}-wapi-1069:before                            { content: $sleet      ; }
.#{$wi-css-prefix}-wapi-1072:before                            { content: $rain-mix      ; }
.#{$wi-css-prefix}-wapi-1087:before                            { content: $lightning      ; }
.#{$wi-css-prefix}-wapi-1114:before                            { content: $snow      ; }
.#{$wi-css-prefix}-wapi-1117:before                            { content: $snow      ; }
.#{$wi-css-prefix}-wapi-1135:before                            { content: $fog      ; }
.#{$wi-css-prefix}-wapi-1147:before                            { content: $fog      ; }
.#{$wi-css-prefix}-wapi-1150:before                            { content: $rain      ; }
.#{$wi-css-prefix}-wapi-1153:before                            { content: $sprinkle      ; }
.#{$wi-css-prefix}-wapi-1168:before                            { content: $sprinkle    ; }
.#{$wi-css-prefix}-wapi-1171:before                            { content: $sprinkle     ; }
.#{$wi-css-prefix}-wapi-1180:before                            { content: $rain     ; }
.#{$wi-css-prefix}-wapi-1183:before                            { content: $rain     ; }
.#{$wi-css-prefix}-wapi-1186:before                            { content: $rain     ; }
.#{$wi-css-prefix}-wapi-1189:before                            { content: $rain     ; }
.#{$wi-css-prefix}-wapi-1192:before                            { content: $rain     ; }
.#{$wi-css-prefix}-wapi-1195:before                            { content: $rain     ; }
.#{$wi-css-prefix}-wapi-1198:before                            { content: $rain     ; }
.#{$wi-css-prefix}-wapi-1201:before                            { content: $rain     ; }
.#{$wi-css-prefix}-wapi-1204:before                            { content: $sleet     ; }
.#{$wi-css-prefix}-wapi-1207:before                            { content: $sleet     ; }
.#{$wi-css-prefix}-wapi-1210:before                            { content: $snow     ; }
.#{$wi-css-prefix}-wapi-1213:before                            { content: $snow     ; }
.#{$wi-css-prefix}-wapi-1216:before                            { content: $snow     ; }
.#{$wi-css-prefix}-wapi-1219:before                            { content: $snow     ; }
.#{$wi-css-prefix}-wapi-1222:before                            { content: $snow     ; }
.#{$wi-css-prefix}-wapi-1225:before                            { content: $snow     ; }
.#{$wi-css-prefix}-wapi-1237:before                            { content: $showers     ; }
.#{$wi-css-prefix}-wapi-1240:before                            { content: $showers     ; }
.#{$wi-css-prefix}-wapi-1243:before                            { content: $showers     ; }
.#{$wi-css-prefix}-wapi-1246:before                            { content: $showers     ; }
.#{$wi-css-prefix}-wapi-1249:before                            { content: $sleet     ; }
.#{$wi-css-prefix}-wapi-1252:before                            { content: $sleet     ; }
.#{$wi-css-prefix}-wapi-1255:before                            { content: $snow     ; }
.#{$wi-css-prefix}-wapi-1258:before                            { content: $snow     ; }
.#{$wi-css-prefix}-wapi-1261:before                            { content: $showers     ; }
.#{$wi-css-prefix}-wapi-1264:before                            { content: $showers     ; }
.#{$wi-css-prefix}-wapi-1273:before                            { content: $thunderstorm     ; }
.#{$wi-css-prefix}-wapi-1276:before                            { content: $thunderstorm     ; }
.#{$wi-css-prefix}-wapi-1279:before                            { content: $storm-showers     ; }
.#{$wi-css-prefix}-wapi-1282:before                            { content: $storm-showers     ; }

//Night
.#{$wi-css-prefix}-wapi-night-1000:before                            { content: $night-clear              ; }
.#{$wi-css-prefix}-wapi-night-1003:before                            { content: $night-alt-partly-cloudy           ; }
.#{$wi-css-prefix}-wapi-night-1006:before                            { content: $night-alt-cloudy          ; }
.#{$wi-css-prefix}-wapi-night-1009:before                            { content: $night-alt-cloudy        ; }
.#{$wi-css-prefix}-wapi-night-1030:before                            { content: $night-fog        ; }
.#{$wi-css-prefix}-wapi-night-1063:before                            { content: $night-alt-rain-mix      ; }
.#{$wi-css-prefix}-wapi-night-1066:before                            { content: $night-alt-snow      ; }
.#{$wi-css-prefix}-wapi-night-1069:before                            { content: $night-alt-sleet      ; }
.#{$wi-css-prefix}-wapi-night-1072:before                            { content: $night-alt-rain-mix    ; }
.#{$wi-css-prefix}-wapi-night-1087:before                            { content: $night-alt-lightning   ; }
.#{$wi-css-prefix}-wapi-night-1114:before                            { content: $night-alt-snow   ; }
.#{$wi-css-prefix}-wapi-night-1117:before                            { content: $night-alt-snow   ; }
.#{$wi-css-prefix}-wapi-night-1135:before                            { content: $night-fog   ; }
.#{$wi-css-prefix}-wapi-night-1147:before                            { content: $night-fog   ; }
.#{$wi-css-prefix}-wapi-night-1150:before                            { content: $night-alt-rain    ; }
.#{$wi-css-prefix}-wapi-night-1153:before                            { content: $night-alt-sprinkle    ; }
.#{$wi-css-prefix}-wapi-night-1168:before                            { content: $night-alt-sprinkle   ; }
.#{$wi-css-prefix}-wapi-night-1171:before                            { content: $night-alt-sprinkle   ; }
.#{$wi-css-prefix}-wapi-night-1180:before                            { content: $night-alt-rain    ; }
.#{$wi-css-prefix}-wapi-night-1183:before                            { content: $night-alt-rain    ; }
.#{$wi-css-prefix}-wapi-night-1186:before                            { content: $night-alt-rain    ; }
.#{$wi-css-prefix}-wapi-night-1189:before                            { content: $night-alt-rain    ; }
.#{$wi-css-prefix}-wapi-night-1192:before                            { content: $night-alt-rain    ; }
.#{$wi-css-prefix}-wapi-night-1195:before                            { content: $night-alt-rain    ; }
.#{$wi-css-prefix}-wapi-night-1198:before                            { content: $night-alt-rain    ; }
.#{$wi-css-prefix}-wapi-night-1201:before                            { content: $night-alt-rain    ; }
.#{$wi-css-prefix}-wapi-night-1204:before                            { content: $night-alt-sleet    ; }
.#{$wi-css-prefix}-wapi-night-1207:before                            { content: $night-alt-sleet    ; }
.#{$wi-css-prefix}-wapi-night-1210:before                            { content: $night-alt-snow    ; }
.#{$wi-css-prefix}-wapi-night-1213:before                            { content: $night-alt-snow    ; }
.#{$wi-css-prefix}-wapi-night-1216:before                            { content: $night-alt-snow    ; }
.#{$wi-css-prefix}-wapi-night-1219:before                            { content: $night-alt-snow    ; }
.#{$wi-css-prefix}-wapi-night-1222:before                            { content: $night-alt-snow    ; }
.#{$wi-css-prefix}-wapi-night-1225:before                            { content: $night-alt-snow    ; }
.#{$wi-css-prefix}-wapi-night-1237:before                            { content: $night-showers     ; }
.#{$wi-css-prefix}-wapi-night-1240:before                            { content: $night-showers     ; }
.#{$wi-css-prefix}-wapi-night-1243:before                            { content: $night-showers     ; }
.#{$wi-css-prefix}-wapi-night-1246:before                            { content: $night-showers     ; }
.#{$wi-css-prefix}-wapi-night-1249:before                            { content: $night-alt-sleet     ; }
.#{$wi-css-prefix}-wapi-night-1252:before                            { content: $night-alt-sleet     ; }
.#{$wi-css-prefix}-wapi-night-1255:before                            { content: $night-alt-snow     ; }
.#{$wi-css-prefix}-wapi-night-1258:before                            { content: $night-alt-snow     ; }
.#{$wi-css-prefix}-wapi-night-1261:before                            { content: $night-alt-showers     ; }
.#{$wi-css-prefix}-wapi-night-1264:before                            { content: $night-alt-showers     ; }
.#{$wi-css-prefix}-wapi-night-1273:before                            { content: $night-alt-thunderstorm     ; }
.#{$wi-css-prefix}-wapi-night-1276:before                            { content: $night-alt-thunderstorm     ; }
.#{$wi-css-prefix}-wapi-night-1279:before                            { content: $night-alt-snow-thunderstorm     ; }
.#{$wi-css-prefix}-wapi-night-1282:before                            { content: $night-alt-snow-thunderstorm     ; }