@import '~office-ui-fabric-react/dist/sass/References.scss';

.weather {

   :global{
     
    .red{
      background-color: red;
      color: white;
    }
  }

  .current{

    .location{
      font-size: 18pt;
    }

    .condition{
      opacity: .4;;
    }

    .temp{
      font-size: 30pt;
    }

    .extremes{

      .low{ 
        font-weight:bold;
      }

      .high{
        font-weight:bold;
      }
      
    }
    .wind{
      font-weight:bold;
    }

  }

  .forecast{

    .forecastDay{ 
      border-top: 1px solid white;
    }
    
  }
}