@import '~office-ui-fabric-react/dist/sass/References.scss';

.weather {

   :global{
     
    .red{
      background-color: red;
      color: white;
    }

    .black{
      background-color: black;
      color:white;
    }

    .green{
      background-color: darkgreen;
      color:white;
    }

    .yellow{
      background-color: yellow;
      color:black;
    }

    .orange{
      background-color: orange;
      color:black;
    }
  }

  .current{
    padding:5px;

    .location{
      font-size: 18pt;
    }

    .condition{
      opacity: .4;;

      font-size:60pt;
      position:absolute;
      right: 5px;
      top:30px;
    }

    .temp{
      font-size: 30pt;
    }

    .extremes{

      .low{ 
        font-weight:bold;
      }

      .high{
        font-weight:bold;
      }
      
    }
    .wind{
      font-weight:bold;
      position:relative;

      i{
        font-size:30pt;
      }

      span{
        position:absolute;
        top:35%;
        margin-left:5px;
      }
    }

  }

  .forecast{

    .forecastDay{ 
      border-top: 1px solid white;
      padding:5px;
      position:relative;
      height:35px;

      .dayWrapper{

        width:15%;
        float:left;
        padding-top:5px;

        .day{
          font-weight:bold; 
          font-size:13pt;
        }
      }

      .condition{
        opacity: .4;
        right:5px;
        top:0px;
        font-size:30pt;
        position:absolute;
      }
      
      .details{

        width:75%;
        float:left;

        .extremes{
          min-width:33%;
          max-width:50%;
          float:left;
          padding-right:5px;
        }

        .wind{
          font-weight:bold;
          position:relative;
          width:50%;
          float:left;
  
          i{
            font-size:30pt;
            position:absolute;
            top: -3px;
          }
  
          span{
            margin-left:5px;
            position:absolute;
            left:30%;
            top:9px;
          }
        }
      }
    }
    
  }
}