@import '~office-ui-fabric-react/dist/sass/References.scss';

.weather {

  &.red{
    background-color: red;
    color: white;
  }

  .current{

    .location{
      font-size: 18pt;
    }

    .temp{
      font-size: 30pt;
    }

    .extremes{

      .low{ 
        font-weight:bold;
      }

      .high{
        font-weight:bold;
      }
      
    }
    .wind{
      font-weight:bold;
    }

  }

  .forecast{

    .forecastDay{ 
      border-top: 1px solid white;
    }
    
  }
}